
ConfirmExit {
    align: center middle;
}

ConfirmExit > Vertical {            # Dotyczy tylko Vertical wewnątrz ConfirmExit
    width: 50;
    height: 10;
    background: $surface;
    # border: tall $text-warning;
    border: tall $foreground;
}

ConfirmExit > Vertical > Static {
    margin: 1 0 1 0;
    text-align: center;
}

ConfirmExit > Vertical > Horizontal {
    margin: 0 0 1 0;
    align: center bottom;
}
